.BookEdit{
  box-sizing: border-box;
  margin-bottom: 10px;
}

.BookEdit label{
  display: block;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.BookEdit input{
  width: 100%;
  margin: 0; padding: 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.BookEdit textarea{
  width: 100%;
  height: 200px;
  margin: 0; padding: 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.BookEdit .error{
  color: red;
}

.BookEdit button{
  margin-right: 15px;
}