.AuthorEdit{
  box-sizing: border-box;
  margin-bottom: 10px;
}

.AuthorEdit label{
  display: block;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.AuthorEdit input{
  width: 100%;
  margin: 0; padding: 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.AuthorEdit textarea{
  width: 100%;
  height: 400px;
  margin: 0; padding: 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.AuthorEdit .error{
  color: red;
}

.AuthorEdit button{
  margin-right: 15px;
}